POSTGRES_DB=roadmap_db
POSTGRES_USER=roadmap_user
POSTGRES_PASSWORD=roadmap_pass
POSTGRES_PORT=5433

APP_PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/roadmap_db
SPRING_DATASOURCE_USERNAME=roadmap_user
SPRING_DATASOURCE_PASSWORD=roadmap_pass
SPRING_JPA_HIBERNATE_DDL_AUTO=update
JAVA_OPTS=
